<div>
  <h2>Check out the Celebrities!</h2>

  {{#each allCelebrities}}

    <p>Name: {{name}}</p>
    <p>Occupation: {{occupation}}</p>
    <p>Catch Phrase: {{catchPhrase}}</p>

  {{/each}}
</div>
<a href='/'>Home</a>