<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href='/celebrities/create'>Create new Celebrity</a>
<a href='/celebrities'>Check out the Celebrities!</a>
<a href='/movies/create'>Create a new Movie</a>
<a href='/movies'>Check all the Movies!</a>